.container{
  margin: 5rem 10rem;

  #header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #search-container{
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  }

  button{
      margin-bottom: 1rem;
  }

  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #000000;
      text-align: left;
      padding: 5px;
      color: #f2f2f2;

    }

    tr:nth-child(even) {
      background: rgba(255, 128, 128, 0.5);
    }

    th {
      background-color: #ff8080;
      color: white;
      //opacity: 0.5;
      background: rgba(102, 0, 0, 0.5);
    }
  }