*{
    margin:0;
    padding:0;
}

.horizontalCenter{
    text-align: center;
}
.loginStuff{
    background-color: rgba(19, 19, 19, 0.932);
    margin-left:35%;
    margin-right: 35%;
}
.form2{
    background-color: rgba(19, 19, 19, 0.932);
    margin-left:35%;
    margin-right: 35%;
    padding:25px;
}
.background-image{
    background-image: url("assets/images/login3.png");
    
    //background-size:cover;
    //background-repeat: no-repeat;
    height:100vh;
    
}
.background-image2{
    background-image: url("assets/images/seats.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:100vh;
}
.mediumFormText{
    color:bisque;
    font-size: 20px;
    
}
.smallFormText{
    color:bisque;
    font-size: 15px;

}
.authentificationWarningText{
    color:rgb(181, 168, 255);
    font-size: 15px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
